name: ToDoMVC React Automated Checks using Javascript and CodeceptJS
on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: '0 16-23,0-5 * * *'

jobs:
  Smoke-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch

      - name: Setup Node v16
        uses: actions/setup-node@v1
        with:
          node-version: 16
          registry-url: https://npm.pkg.github.com/

      - name: Cache node_modules
        id: cache-modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: yarn-packages-{{ steps.extract_branch.outputs.branch }}-{{ checksum "yarn.lock" }}

      - name: Remove package-lock.json
        run: rm ./package-lock.json

      - name: Install modules
        if: steps.cache-modules.outputs.cache-hit != 'true'
        run: yarn install

      - name: Run smoke tests on BrowserStack
        run: yarn test:browserstack
